@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Mono&display=swap');
</style>

/* font-family: 'Raleway', sans-serif; */

body {
  background: rgb(58, 58, 58);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  padding: 20px;
}

section {
  background: white;
  color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

div { 
  background: red;
  margin: auto;
  width: 10px;
}

ul {
  margin: 0
  padding: 0;
  list-style-type: none;
}

li {
display: inline-block;
margin-right: 20px
}
.container {
  background-color: #ffffff; /* White background for the form container */
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading Style  */
.heading {
  color: #471869; /* Heading color */
  text-align: center;
  margin-top: 10px;
}

/* Description Styles */
.description {
  text-align: left;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
}

/* Form Styles */
.registration-form {
  display: flex;
  flex-direction: column;
}

.featured-img {
  width: 100px;

  border-radius: 15%;

}

.registration-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.registration-form button {
  padding: 10px;
  background-color: #471869; /* Button color */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cta-button { 
  background-color: #471869; /* Button color */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.cta-button:hover {
  background-color: #2e0e3a; /* Darker color on hover */
}

footer {
  background: black;
  padding : 10px 20px;

}
